/* alexandria-regular - latin */
@font-face {
    font-family: 'Alexandria';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alexandria-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/alexandria-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/alexandria-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/alexandria-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/alexandria-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/alexandria-v1-latin-regular.svg#Alexandria') format('svg'); /* Legacy iOS */
}