body {
    color: #bbbbbb;
    font-size: 1.2rem;
    font-family: Alexandria, serif;   /*serif / sans-serif / cursive / Times New Roman*/
    line-height: 1.3; /*1.3 à 1.7*/
    background: rgba(107, 0, 250, 0.24) url("../images/background.jpg");
    text-align: center;
}

h1 {
    color: #8ea4a4;
    font-family: cursive;
    font-size: 2rem;
    text-shadow: 0.1em 0.1em 0.2em black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.24);
    border: #888888;
}

img {
    max-width: 100%;
}

h2 {
    color: #8ea4a4;
}

ul {
list-style-position: inside;
}

li {
    /*max-widht: 375px;*/
}
.info {
    text-decoration: underline;
    color: #c07070;
}