body {
    color: #bbbbbb;
    font-size: 1.2rem;
    font-family: Alexandria, serif;   /*serif / sans-serif / cursive / Times New Roman*/
    line-height: 1.3; /*1.3 à 1.7*/
    background: rgba(107, 0, 250, 0.24) url("../images/background.jpg");
}

img {
    /*max-widht: 100%;*/
    height: auto;
}
h1 {
    color: #8ea4a4;
    font-family: cursive;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.24);
    border: #888888;
    /*text-shadow: #22ff00 0px 0px 2px;*/

}

h2 {
    color: #8ea4a4;
}

li {
    /*max-widht: 375px;*/
}
.info {
    text-decoration: underline;
    color: #c07070;
}